/* If the screen size is 601px or more, set the font-size of to 80px */
@media screen and (min-width: 601px) {
      #container {
            display:flex; font-size: 80px;
      }
}

/* If the screen size is 600px or less, set the font-size of to 30px */
@media screen and max-width: 600px) {
      #container {
            display:flex; font-size: 30px;
      }
}
